*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li{
    list-style: none;

}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
}

.aligncenter{
    align-items: center;
}

header{
    padding: 45px;
    width: 100%;
}

header nav{
    width: 35%;
}

.container{ /*test*/
    max-width: 600px;
    width: 100%;
    margin: auto;
}
