*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
}

h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 32px;
    color:black
}

a {
    text-decoration: none;
}

li{
    list-style: none;

}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
}

.aligncenter{
    align-items: center;
}

.textCenter{
    text-align: center;
}


header{
    padding: 45px;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 1;
}

header nav{
    width: 35%;
}

.container{ /*test*/
    max-width: 800px;
    width: 100%;
    margin: auto;
}

/*section projet*/


.imageTaille{
    width: 300px;
    height: 300px;
    object-fit:contain;
}

/*section présentation compétences*/
.widthP{
    width: 80%;
}

.imagePresentation{
    width: 100px;
    height: 100px;
    object-fit:contain;
}