*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}


/*Section cards*/
.containerVisible {
    /*conteneur general*/
    width: 70%;
    overflow-x: scroll;
}

.containerCards { /*conteneur des cards*/
    display: flex;
    width: max-content;
    gap: 15px;
}

.cardProject { /*cards des projets*/
    width: 300px;
    height: 300px;/*a suprimer une fois que le contenu est remplit en HTML pour que la hauteur de la carte s'adapte au contenu */
    background-color: #cd2626;
}
